@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

    {
    margin: 0;
    padding: 0;
}

.encabezado {
    background-color: rgb(255, 242, 226);
    display: flex;
    grid-template-columns: 45% auto auto auto;
    justify-content: start;
    column-gap: 1fr;
    margin: 15px;
    height: auto;
    flex-direction: column;
    width: auto;
    }

.bg-propio {
    background-color: rgb(255, 242, 226);
    position: sticky;
    top: 20px;
    width: 100%;
    
    

}

nav ul li a {
    display: flex;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(23, 4, 29, 0.438);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-left: 70px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
position: fixed;
    width: 100%;
    padding: 0.5rem;
    top: 0;
     z-index: 999;
}

.navbar li {
    font-family: 'Oswald', sans-serif;
}


.navbar {
    list-style: none;
    font-weight: bold;
    color: black;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
}

.articulos {
    color: black;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    background-color: rgb(255, 241, 224);
    font-family: 'Oswald', sans-serif;

}

.pie-de-pagina {
    background-color: rosybrown;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    display: grid;
    color: white;
    grid-template-areas:
        "redes-sociales"
        "deva-accesorios";
    justify-content: end;
    padding: 1rem;
}

.redes {
    display: flex;
    justify-content: center;
    grid-area: redes-sociales;
    gap: 0.6rem;
}

.pie-de-pagina p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    grid-area: deva-accesorios;
}

.coleccion {
    background-color: bisque;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.5rem;
    padding: 1rem 15rem;
}

.h1 {
    display: grid;
    justify-content: center;
}

.img {
    display: grid;
    width: auto;

}

.contenedor-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    width: 80%;
    justify-content: center;
    grid-gap: 1.2rem;
justify-content: center;
}


.contenedor-img img {
    width: 100%;
    height: 80%;
    display: grid;
    justify-content: center;
}

.img-anch {
    grid-column-start: span 2;
}

.img-larg {
    grid-row-start: span 2;
}

@media screen and (min-width:320px) {
    .encabezado logo {
        width: 50px;
    }

}


.encabezado {
    background-color: rgb(255, 242, 226);
    display: grid;
    justify-content: start;
    column-gap: 1fr;
    margin: 15px;
}