@import "./partials/colores";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "./partials/footer";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav ul li a{
    display: flex;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgba(23, 4, 29, 0.438);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-left: 70px; 
}

.itemCarrousel{
    border: 1px solid black;
    height: 200px;
    position: relative;
    height: 100%;
}

.tarjetaCarrousel{
    height: 100%;
    position: relative;
}

.flechasCarrousel{
background-color: rgb(252, 197, 206, 0.3);
height: 100%;
position: absolute;
top:0;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;

}

#conteItemCarrousel{
    border: 5px solid black;
    height: 200px;
    overflow: hidden;
}

.a{
    text-decoration: none;
}

.li{
    color: white;
}
#tarjetaCarrousel-1{
    background-color: aquamarine;

}

#tarjetaCarrousel-2{
    background-color: pink;

}

#tarjetaCarrousel-3{
    background-color: bisque;

}
.articulos ul div li a:hover {
    color:darkmagenta;
} 

.navbar li {
    font-family: 'Oswald', sans-serif;
}

.bg-propio{
    background-image: linear-gradient(to right, white, rgb(255, 249, 250),pink)
}


.navbar {
    /* list-style: none; */
    /* font-weight: bold; */
    color: black;
    font-family: 'Oswald', sans-serif;
    /* display: flex; */
    /* justify-content: center; */
}

.articulos {
    color: black;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    
}
#fondo {
    background-image: url(https://st3.depositphotos.com/1611131/15031/v/450/depositphotos_150318496-stock-illustration-elegant-romantic-sexy-woman-pop.jpg);
width: 100%;
height: 600px;
}

.formulario {
    font-family: 'Oswald', sans-serif;
    color: rgb(56, 185, 172);
    display: grid;
    text-align: center;
    background: rgba(0,0,0,.5);
    border: solid;
    color: white;
}



.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
}

.btn-green {
    color: white;
    background-color: grey;
}

.btn-green:hover{
    color: white;
    background-color: rgb(59, 59, 59);
}

.btn-green:active{
    color: white;
    background-color: rgb(27, 27, 27);
}

.pie-de-pagina {
    background-color: rgb(251, 218, 223);
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    display: grid;
    color: black;
    grid-template-areas:
        "redes-sociales"
        "deva-accesorios";
    justify-content: end;
    padding: 1rem;
}

.redes {
    display: flex;
    justify-content: center;
    grid-area: redes-sociales;
    gap: 0.6rem;
    font-family: 'Oswald', sans-serif;
    
}

.pie-de-pagina p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    grid-area: deva-accesorios;
}

.main{
    color: black;
    width: 100%;
    display: grid;
    grid-gap: 5rem;

}
.coleccion {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin: 2rem 0;
    font-size: 1.5rem;
    padding: 1rem 10rem;
    color: black;
    background-color: pink;
}

.titulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: black;
}

.img {    display: grid;
    width: auto;
    /* justify-content: center; */
    text-align: center;
    border: solid;
}
.contenedor-img {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    /* column-gap: 15px; */
    justify-content: center;
    grid-gap: 5rem;
    justify-content: center;
}


.contenedor-img img {
    width: 100%;
    height: 80%;
    display: grid;
    justify-content: center;
}

.img-anch {
    grid-column-start: span 2;
}

.img-larg {
    grid-row-start: span 2;
}


@media screen and (max-width: 500px){
    body { background-image: linear-gradient(to right, white, white, pink);}

}

