@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
}
.encabezado .bg-propio {
  background-image: linear-gradient(to right, white, rgb(255, 249, 250), pink);
  width: 100%;
  top: 0;
  z-index: 999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pie-de-pagina {
  background-color: rgb(251, 218, 223);
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  display: grid;
  color: "$color-principal";
  grid-template-areas: "redes-sociales" "deva-accesorios";
  justify-content: end;
  padding: 1rem;
}
.pie-de-pagina .redes {
  display: flex;
  justify-content: center;
  grid-area: redes-sociales;
  gap: 0.5rem;
  font-family: "Oswald", sans-serif;
}
.pie-de-pagina .redes .a {
  text-decoration: none;
}
.pie-de-pagina .redes .li {
  color: "$color-secundario";
}
.pie-de-pagina .p {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  grid-area: deva-accesorios;
}

.articulos {
  color: black;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 5rem;
}
.articulos .a:hover {
  color: "$color-principal";
}
.articulos .titulo {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: "$color-principal";
  color: "$color-secundario";
}
.articulos #fondo {
  background-image: url(https://c.wallhere.com/photos/14/3e/simple_background_monochrome_women_brunette_face_portrait-119704.png!d);
  width: 100%;
  height: 600px;
}
.articulos #fondo .navbar {
  color: "$color-principal";
  font-family: "Oswald", sans-serif;
}
.articulos #fondo .navbar .li {
  color: "$color-secundario";
}

#conteItemCarrousel {
  border: 5px solid black;
  height: 15rem;
  overflow: hidden;
}
#conteItemCarrousel .itemCarrousel {
  border: 1px solid white;
  height: 200px;
  position: relative;
  height: 100%;
}
#conteItemCarrousel .itemCarrousel .tarjetaCarrousel {
  height: 100%;
  position: relative;
}
#conteItemCarrousel .itemCarrousel .tarjetaCarrousel #tarjetaCarrousel-1 {
  background-color: aquamarine;
}
#conteItemCarrousel .itemCarrousel .tarjetaCarrousel #tarjetaCarrousel-2 {
  background-color: pink;
}
#conteItemCarrousel .itemCarrousel .tarjetaCarrousel #tarjetaCarrousel-3 {
  background-color: bisque;
}
#conteItemCarrousel .itemCarrousel .flechasCarrousel {
  background-color: rgba(252, 197, 206, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.titulo {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: "$color-principal";
  color: "$color-secundario";
}

.coleccion {
  font-family: "Oswald", sans-serif;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 5rem 10rem;
  color: "$color-secundario";
  background-color: #181818;
}
.coleccion .contenedor-img {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: auto auto;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
  grid-gap: 5rem;
  width: 100%;
  padding: 2rem 2rem;
  flex-direction: column;
  border: solid "$color-primario";
}
.coleccion .contenedor-img img {
  /*display: grid;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.coleccion .item {
  display: grid;
  width: 100%;
  justify-content: center;
  text-align: center;
  /*border: solid grey;*/
}

#fondo {
  background-image: url(https://c.wallhere.com/photos/14/3e/simple_background_monochrome_women_brunette_face_portrait-119704.png!d);
  width: 100%;
  height: 600px;
}
#fondo .titulo {
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: "$color-principal";
  color: "$color-secundario";
}
#fondo .formulario {
  font-family: "Oswald", sans-serif;
  display: grid;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border: solid;
  color: "$color-secundario";
}

@media screen and (max-width: 500px) {
  body {
    background-image: linear-gradient(to right, white, white, pink);
  }
  .articulos {
    padding: 0;
    background-color: "$color-principal";
  }
  .contenedor-img {
    width: 80%;
    margin: 0 auto;
  }
  .contenedor-img img {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  /*.section {
    display: flex;
    flex-direction: column-reverse;
    height: 650px;
  }

  .contenedor-texto {
    width: 40%;
    padding: 0 15rem;
    justify-content: center;
  }

  .section .img {
    height: 60%;
  }

  .contenedor-texto {
    text-align: center;
  }
  */
  /*# sourceMappingURL=main.css.map */
}
@media screen and (max-width: 500px) and (max-width: 450px) {
  body {
    background-image: linear-gradient(to right, white, white, pink);
  }
  .articulos {
    padding: 0;
    background-color: "$color-principal";
  }
}
@media screen and (max-width: 500px) {
  .div .btn {
    border-radius: 3px;
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
  }
}
@media screen and (max-width: 500px) {
  .btn-green {
    color: "$color-principal";
    background-color: grey;
  }
}
@media screen and (max-width: 500px) {
  .btn-green:hover {
    color: "$color-secundario";
    background-color: rgb(59, 59, 59);
  }
}
@media screen and (max-width: 500px) {
  .btn-green:active {
    color: "$color-secundario";
    background-color: rgb(27, 27, 27);
  }
}
@media screen and (max-width: 500px) {
  .main {
    color: "$color-principal";
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  #sec1 {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #sec1 img {
    height: 40%;
  }
}
@media screen and (max-width: 500px) {
  #sec2 {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #sec2 img {
    height: 40%;
  }
}
@media screen and (max-width: 500px) {
  #sec3 {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #sec3 img {
    height: 40%;
  }
}
@media screen and (max-width: 500px) {
  #sec4 {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #sec4 img {
    height: 40%;
  }
}
@media screen and (max-width: 500px) {
  #sec5 {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #sec5 img {
    height: 40%;
  }
}
@media screen and (max-width: 500px) {
  #sec6 {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  #sec6 img {
    height: 40%;
  }
}
@media screen and (max-width: 500px) {
  .contenedor-texto {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .coleccion {
    padding: 25px;
  }
}
@media screen and (max-width: 500px) {
  .item {
    width: 80%;
  }
}
.div .btn {
  border-radius: 3px;
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
}

.btn-green {
  color: white;
  background-color: grey;
}

.btn-green:hover {
  color: white;
  background-color: rgb(59, 59, 59);
}

.btn-green:active {
  color: white;
  background-color: rgb(27, 27, 27);
}

.main {
  color: black;
  width: 80%;
}/*# sourceMappingURL=main.css.map */