.titulo {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: $color-principal;
    color: $color-secundario;
}

.coleccion {


    font-family: 'Oswald', sans-serif;
    width: $medida-principal;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 5rem 10rem;
    color: $color-secundario;
    background-color: #181818;

    .contenedor-img {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        justify-content: center;
        grid-gap: 5rem;
        width: $medida-principal;
        padding: 2rem 2rem;
        flex-direction: column;
        border: solid $color-primario;
    }

    .contenedor-img img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: $medida-principal;
    }

    .item {
        display: grid;
        width: $medida-principal;
        justify-content: center;
        text-align: center;
    }

}