.pie-de-pagina {
    background-color: rgb(251, 218, 223);
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    display: grid;
    color: black;
    grid-template-areas:
        "redes-sociales"
        "deva-accesorios";
    justify-content: end;
    padding: 1rem;

    .redes{
        display: flex;
    justify-content: center;
    grid-area: redes-sociales;
    gap: 0.5rem;
    font-family: 'Oswald', sans-serif;
    .a {
        text-decoration: none;
    }
    
    .li {
        color: white;
    }

    }

    .p {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-family: 'Oswald', sans-serif;
        grid-area: deva-accesorios;
    }

}
