.encabezado {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .titulo {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        background-color: black;
        color: white;
    }
    

    nav ul li a {
        display: flex;
        text-decoration: none;
        font-size: 1.1rem;
        color: rgba(23, 4, 29, 0.438);
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        justify-content: center;
    
        
    }
   
    .bg-propio {
        background-image: linear-gradient(to right, white, rgb(255, 249, 250), pink);

    }
    
    }   

    .h1 {  text-align: center;
        font-family: 'Oswald', sans-serif;
        background-color: $color-principal;
        color: white;
    }

    .navbar {
        color: black;
        font-family: 'Oswald', sans-serif;
        .a {
            text-decoration: none;
        }
        
        .li {
            color: white;
        }
        


        }