.articulos {

    color: "$color-principal";

    font-family: 'Oswald', sans-serif;

    text-align: center;

    padding: 5rem;

    .a:hover {
        color: "$color-principal";
    }

    .titulo {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        background-color: "$color-principal";
        color: "$color-secundario";
    }
    
    #fondo {
        background-image: url(https://c.wallhere.com/photos/14/3e/simple_background_monochrome_women_brunette_face_portrait-119704.png!d);
        width: 100%;
        height: 600px;
        

        .navbar {
            color: "$color-principal";
            font-family: 'Oswald', sans-serif;
            
            .li {
                color: "$color-secundario";
            }
            
    

            }
            
        }

    }
    
    #conteItemCarrousel {
        border: 5px solid "$color-principal";
        height: 15rem;
        overflow: hidden;

        .itemCarrousel {
            border: 1px solid "$color-secundario";
            height: 200px;
            position: relative;
            height: 100%;

        .tarjetaCarrousel {
            height: 100%;
            position: relative;

            #tarjetaCarrousel-1 {
                background-color: aquamarine;
    

            } 
            #tarjetaCarrousel-2 {
                background-color: pink;
            
            }
            
            #tarjetaCarrousel-3 {
                background-color: bisque;
            
            }
            
        }

        .flechasCarrousel {
            background-color: rgb(252, 197, 206, 0.3);
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        
        }


        }
    }

